<%= form_with(model: genre, local: true) do |f| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <form class="form-horizontal">
      <fieldset>
        <legend></legend>

          <div class="form-group">
            <label class="col-md-2 control-label" for="marcotipo">Nome</label>
            <div class="col-md-10">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

           <div class="form-group">
            <label class="col-md-2 control-label" for="marcotipo">Descrição</label>
            <div class="col-md-10">
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>         
      </fieldset>    
    </form>

  </div><!-- end of row -->

<% end %>
