 <!-- Table -->
  <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
   </tr>

  <% @genres.each do |genre| %>
    <tr>
      <td width="20%"><%= truncate(genre.name, length: 100) %></td>
      <td><%= genre.description %></td>
      <td><%= link_to genre, class: "btn btn-success btn-mini" do %><!--<i class="fa fa-search" aria-hidden="true"></i>--> Detalhes<% end %>
      <td><%= link_to edit_genre_path(genre), class: "btn btn-warning btn-mini" do %><!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->Editar <% end %>
      <td><%= link_to genre, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-mini"  do %><!--<i class="fa fa-eraser" aria-hidden="true"></i></i>--> Deletar <% end %>      
    </tr>
  <% end %>
</table> <!--end of table -->

