<%= form_with(model: distribuitor, local: true) do |f| %>
  <% if distribuitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(distribuitor.errors.count, "error") %> prohibited this distribuitor from being saved:</h2>

      <ul>
      <% distribuitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-6 form-group"">
    <%= f.text_field :rsocial, class: 'form-control', placeholder: 'Razão Social' %>
  </div>          

  <div class="col-sm-6 form-group"">
    <%= f.text_field :cnpj, class: 'form-control','data-mask': '00.000.000/0000-00', placeholder:'CNPJ' %>
  </div>

  <div class="col-sm-6 form-group"">
    <%= f.text_field :phone, class: 'form-control', 'data-mask': '(00)0000.0000' %>
  </div>

  <div class="col-sm-6 form-group"">
    <%= f.text_field :address, class: 'form-control', placeholder: 'Endereço' %>            
  </div>

  <div class="col-sm-6 form-group"">
    <%= f.text_field :neighborhood, class: 'form-control', placeholder: 'Bairro' %>
  </div>         

  <div class="col-sm-6 form-group"">
    <%= f.text_field :city, class: 'form-control', placeholder: 'Cidade' %>
  </div>         

  <div class="col-sm-6 form-group"">
    <%= f.text_field :state, class: 'form-control', placeholder: 'Estado' %>
  </div>          

  <div class="col-sm-6 form-group"">
    <%= f.text_field :zipcode, class: 'form-control', 'data-mask': '00.000.000' ,placeholder: 'CEP' %>
  </div>        

  <div class="col-sm-6 form-group"">
    <%= f.text_field :complement, class: 'form-control', placeholder: 'Complemento' %>
  </div>        

  <div class="col-sm-6 form-group"">
    <%= f.text_field :contact, class: 'form-control', placeholder: 'Contato' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
                    
</form>
   
<% end %>
