<p id="notice"><%= notice %></p>

<h3>Distribuidores</h3>

<table>
  <thead>
    <tr>
      <th>Razão Social</th>
      <th>Cnpj</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>CEP</th>
      <th>Complemento</th>
      <th>Contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distribuitors.each do |distribuitor| %>
      <tr>
        <td><%= distribuitor.rsocial %></td>
        <td><%= distribuitor.cnpj %></td>
        <td><%= distribuitor.phone %></td>
        <td><%= distribuitor.address %></td>
        <td><%= distribuitor.neighborhood %></td>
        <td><%= distribuitor.city %></td>
        <td><%= distribuitor.state %></td>
        <td><%= distribuitor.zipcode %></td>
        <td><%= distribuitor.complement %></td>
        <td><%= distribuitor.contact %></td>
        <td><%= link_to 'Mostrar', distribuitor %></td>
        <td><%= link_to 'Editar', edit_distribuitor_path(distribuitor) %></td>
        <td><%= link_to 'Excluir', distribuitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Distribuidor', new_distribuitor_path %>
