<p id="notice"><%= notice %></p>

<h1>Distribuitors</h1>

<table>
  <thead>
    <tr>
      <th>Rsocial</th>
      <th>Cnpj</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Neighborhood</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Complement</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distribuitors.each do |distribuitor| %>
      <tr>
        <td><%= distribuitor.rsocial %></td>
        <td><%= distribuitor.cnpj %></td>
        <td><%= distribuitor.phone %></td>
        <td><%= distribuitor.address %></td>
        <td><%= distribuitor.neighborhood %></td>
        <td><%= distribuitor.city %></td>
        <td><%= distribuitor.state %></td>
        <td><%= distribuitor.zipcode %></td>
        <td><%= distribuitor.complement %></td>
        <td><%= distribuitor.contact %></td>
        <td><%= link_to 'Show', distribuitor %></td>
        <td><%= link_to 'Edit', edit_distribuitor_path(distribuitor) %></td>
        <td><%= link_to 'Destroy', distribuitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distribuitor', new_distribuitor_path %>
