<p id="notice"><%= notice %></p>

<p>
  <strong>Razão Social:</strong>
  <%= @distribuitor.rsocial %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @distribuitor.cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @distribuitor.phone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @distribuitor.address %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @distribuitor.neighborhood %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @distribuitor.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @distribuitor.state %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @distribuitor.zipcode %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @distribuitor.complement %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @distribuitor.contact %>
</p>

<%= link_to 'Editar', edit_distribuitor_path(@distribuitor) %> |
<%= link_to 'Voltar', distribuitors_path %>
