<p id="notice"><%= notice %></p>

<p>
  <strong>Rsocial:</strong>
  <%= @distribuitor.rsocial %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @distribuitor.cnpj %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @distribuitor.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @distribuitor.address %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @distribuitor.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @distribuitor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @distribuitor.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @distribuitor.zipcode %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @distribuitor.complement %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @distribuitor.contact %>
</p>

<%= link_to 'Edit', edit_distribuitor_path(@distribuitor) %> |
<%= link_to 'Back', distribuitors_path %>
