 <!-- Table -->
  <table class="table table-striped table-responsive" cellspacing="0" width="100%">
  <tr>
    <th></th>
    <th>Título</th>
    <th>Título em Português</th>
    <th>Ano</th>
    <th>Duração</th>
    <th></th>
    <th></th>
    <th></th>
   </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= image_tag(movie.img, width: 100, height: 150) %></td> <!--to show image-->
      <td width="20%"><%= truncate(movie.title, length: 100) %></td>
      <td width="20%"><%= truncate(movie.title_br, length: 100) %></td>
      <td><%= movie.year %></td>
      <td><%= movie.duration %></td>
      <td><%= link_to movie, class: "btn btn-success btn-mini" do %><!--<i class="fa fa-search" aria-hidden="true"></i>--> Detalhes<% end %>
      <td><%= link_to edit_movie_path(movie), class: "btn btn-warning btn-mini" do %><!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->Editar <% end %>
      <td><%= link_to movie, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-mini"  do %><!--<i class="fa fa-eraser" aria-hidden="true"></i></i>--> Deletar <% end %>      
    </tr>
  <% end %>
</table> <!--end of table -->

