
<h3><%= @movie.title %></h3>


<p>
  <strong>Título em Português:</strong>
  <%= @movie.title_br %>
</p>

<p>
  <%= image_tag(@movie.img) %> <!--to show image-->
</p>

<p>
  <strong>Gênero: </strong>
  <%= @movie.genre.name %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @movie.cast %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @movie.tipo%>
</p>

<p>
  <strong>Duração:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>País:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Diretor(es):</strong>
  <% @movie.directors.each do |d| %>
    <%= d.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
